// тк мы к ним обращаемся везде ниже
@import "./fonts.scss";
@import "./utils/reset";
@import "./utils/vars";
@import "./vendors/vendors";

$index: calc(1vw + 1vh);
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes fromOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
}

body {
  background-color: #17171a;
  flex-direction: column;
  min-height: 100%;
  height: 100%;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

main {
  // display: none;
  flex-direction: column;
  display: flex;
  &.load {
    // flex-direction: column;
    // display: flex;
    animation: fromOpacity 0.6s ease-in-out forwards;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

*::selection {
  background: #fff;
  color: #000;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  max-width: $desktopWidth;
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (max-width: $smDesktopWidth) {
    // max-width: $tableWidth;
  }

  @media screen and (max-width: $tableWidth) {
    max-width: 98%;
  }

  @media screen and (max-width: $phoneWidth) {
    max-width: 100%;
  }

  @media screen and (max-width: $smPhoneWidth) {
    padding: 0 10px;
  }

  &.small {
    max-width: 936px;
  }
}

@import "./common.scss";

.section-title {
  font-size: 36px;
  font-weight: 400;
  line-height: 140%;
}

.calc {
  position: relative;
  width: 100%;
  // min-height: 100vh;
  // height: 100%;
  padding-bottom: 60px;
  // &:before {
  //   position: absolute;
  //   z-index: -1;
  //   content: "";
  //   left: 0;
  //   top: 0;
  //   width: 100%;
  //   height: 100%;
  // }
}

.calc__wrapper {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 30px;
  position: relative;
}
.calc__outer-data,
.calc__inner-data {
  // width: 50%;
  flex: 0 0 50%;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}

.calc__outer-data {
  height: calc(100vh - 30px);
  position: sticky;
  top: 0;
  // display: none;
  flex: 0 0 50%;
  &.show {
    animation: fromOpacity 0.6s ease-in-out forwards;
    display: flex;
  }
}

.calc__inner-data {
  padding-right: 30px;
  display: flex;
  flex-direction: column;
}

.calc__outer-data .total-value-block {
  font-size: 30px;
  margin-top: auto;
}
.calc__outer-data .calc__title::after {
  display: none;
}

.calc__title {
  width: fit-content;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 64px;
  line-height: 100%;
  color: #fff;
  position: relative;
  span {
    color: $brand-primary;
  }
}

.select2 {
  width: 100% !important;
}
.select2-container--default .select2-selection--single {
  background: transparent;
  border: none;
  font-size: 16px;
}
.select2-container .select2-selection--single {
  background: #17171a;
  position: relative;
  height: auto;
  padding: 22px 32px;
  padding-left: 20px;
  border: 1px solid #303032;
  border-radius: 10px !important;
  // margin-bottom: 20px;
  transition: border-color 0.2s ease-in-out;

  &:hover {
    border-color: $brand-primary;
  }
}
.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  line-height: initial;
}
.select2-selection__placeholder {
  transition: color 0.2s ease-in-out;
  color: #fff !important;
}

.select2.select2-container.select2-container--default.select2-container--below.select2-container--focus.select2-container--open {
  .select2-selection--single {
    border-color: #fff !important;
  }
  .select2-selection__placeholder {
    color: #fff;
  }
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  width: 32px;
  height: 32px;
  background: #303032;
  border-radius: 50%;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.select2-container--default .select2-results > .select2-results__options {
  overflow: hidden;
  max-height: inherit;
  background: #212124;
  border: 1px solid rgba(4, 99, 241, 1);
  box-shadow: 0px 0px 32px rgba(4, 99, 241, 0.7);
  border-radius: 10px;
}

.select2-container--open .select2-dropdown {
  background-color: transparent;
  border: none;
  padding-top: 0px;
}

.select2-results__option--selectable {
  padding: 15px 32px;
}
.select2-results__option {
  padding: 15px;
}

.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: $brand-primary;
}

.select2-container--default .select2-results__option--selected {
  background-color: #303032;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  color: #ffffff;
  padding-left: 0;
}

.styles-input {
  &:hover,
  &:focus {
    input {
      border-color: $brand-primary;
    }
  }
  border-radius: 123px;
  // margin-bottom: 20px;
  background: #17171a;
  position: relative;
  .styles-text {
    line-height: 100%;
    pointer-events: none;
    position: absolute;
    left: 32px;
    top: 50%;
    transform: translateY(-50%);
    color: #767676;
    transition: all 0.25s ease-in-out;
    padding: 0 5px;
    border-radius: 10px;
  }
  input {
    border: 1px solid #303032;
    border-radius: 123px;
    background-color: transparent;
    padding: 22px 32px;
    width: 100%;
    color: #ffffff;
    transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  }
}

#clientName ~ .styles-text {
  color: #fff;
}

[data-styles-field]:not(:placeholder-shown) ~ .styles-text,
[data-styles-field]:focus ~ .styles-text {
  background-color: #17171a;
  top: 0px;
  color: rgb(216, 216, 216);
  font-size: 14px;
}

[data-styles-field]:not(:placeholder-shown) {
  border-color: rgb(185, 185, 185);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; // Yeah, yeah everybody write about it
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

.togler__wrapper {
  display: flex;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;
}
.togler {
  &.hide {
    opacity: 0;
    visibility: hidden;
  }
  width: 50%;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  height: 32px;
  input[type="checkbox"] {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    &:checked + .togler__text::after {
      left: 33px;
    }
    &:checked + .togler__text::before {
      background: #0463f1;
      box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.55);
    }
  }

  .togler__text {
    display: flex;
    line-height: 100%;
    flex-direction: column;
    padding-left: 80px;
    width: 100%;
    position: relative;
    &::before {
      transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
      position: absolute;
      content: "";
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 64px;
      height: 32px;
      border-radius: 123px;
      background: #303032;
    }
    &:after {
      transition: left 0.2s ease-in-out;
      position: absolute;
      content: "";
      left: 2px;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 50%;
      background: #ffffff;
      width: 28px;
      height: 28px;
    }
  }
  .togler__text-discount {
    font-size: 12px;
    line-height: 100%;
  }
}

.total-value-block {
  display: flex;
  flex-direction: column;
  line-height: 120%;
  gap: 8px;
  font-weight: 400;
  font-size: 20px;
  display: flex;

  &:after {
    display: block;
    content: "";
    width: 97px;
    height: 14px;
    // background-image: url(@img/ourCulture.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 8px;
  }
  [data-value-elem],
  [data-total-result] {
    display: inline;
    font-weight: 700;
    color: $brand-primary;
    line-height: 120%;
  }
  .block__w {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
  }
}

.btn {
  cursor: pointer;
  padding: 14px 22px;
  color: #fff;
  background-color: $brand-primary;
  border-radius: 8px;
  width: fit-content;
  transition: background-color 0.2s ease-in-out, box-shadow 0.15s ease-in-out,
    color 0.2s ease-in-out, opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  &:hover {
    color: #fff;
  }
  &:active {
    box-shadow: 0px 0px 12px $brand-primary;
    transform: translateY(3px);
  }
  &.ghost {
    background-color: transparent;
    border: 1px solid $brand-primary;
  }
}

.calc__descr {
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  color: #a0a0a0;
  &:after {
    display: block;
    content: "";
    width: 100%;
    height: 10px;
    // background-image: url(@img/technicalCapabilities.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 8px;
  }
}

.disabled-field {
  pointer-events: none;
  background: transparent !important;
  opacity: 0.3;
  .select2-selection__placeholder {
    color: #999 !important;
  }
}

.disabled-btn {
  pointer-events: none;
  opacity: 0.3;
}

.app-wrapper {
  width: 100%;
  display: flex;
  align-items: stretch;
}
.app-left {
  width: 50%;
}

.add-phases {
  display: flex;
  flex-direction: column;
}
.add-phases__btn {
  margin-top: 10px;
  margin-left: auto;
}
.phases__label {
  margin-bottom: 20px;
}
.emloyee__nameplate {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
}
.emloyee-name {
  padding-left: 50px;
}
.emloyee__days {
  width: 60px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  text-align: center;
}
.emloyee__label {
  width: 28%;
}
.emloyee__data {
  width: 18%;
  font-size: 14px;
  text-align: center;
}
.emloyee__label {
  display: flex;
  align-items: center;
  gap: 20px;
}
.emloyee__select {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 20px;
  height: 20px;
  &:checked + .emloyee__wrapper {
    opacity: 1;
    pointer-events: all;
  }
}
.emloyee {
  position: relative;
  padding: 10px 0;
}
.emloyee__wrapper {
  transition: opacity 0.2s ease-in-out;
  opacity: 0.4;
  pointer-events: none;
  display: flex;
  padding: 10px;
  gap: 10px;
  justify-content: space-between;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}
.label__field {
  font-size: 16px;
  padding: 12px;
  border-radius: 5px;
  background: transparent;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
}
.label__nameplate {
  font-size: 16px;
  color: #fff;
  margin-bottom: 5px;
}
.modal__title {
  font-size: 22px;
  margin-bottom: 20px;
}
.modal {
  overflow: auto;
  padding: 50px;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal__content {
  max-width: 1240px;
  background-color: #17171a;
  padding: 30px;
  border-radius: 15px;
  margin: auto;
}
